/***** General *****/

.content_container {
  margin: 0 auto; /* damit der Content in der Mitte des Screens angezeigt wird und nicht linksbündig  */
  padding: 0 20px;
  max-width: 1440px;
  width: 100%; /* wird gebraucht, weil der header eine Flexbox hat --> 100% heißt, "nimm so viel Platz wie möglich ein (bis zur max-width-Grenze) */
}

/***** Header *****/

header {
  display: flex;
  align-items: center;
  height: 120px;
  background-color: var(--color-bg-dark);
  border-bottom: 1px solid rgba(255,255,255,0.2); /* dezente graue Linie */
}

header img {
  height: 48px;
  object-fit: contain;
}

/***** Body/Main/headings *****/

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  color: white;
  background-color: var(--color-bg-darker);
  padding-bottom: 40px;
}

h1 {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

h2 {
  font-size: 24px;
}

/***** Footer *****/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 120px;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--color-bg-dark);
  border-top: 1px solid rgba(255,255,255,0.2); /* dezente graue Linie */
}

footer a {
  color: rgba(255, 255, 255, 0.6);
}

footer a:hover {
  text-decoration: underline;
}

/***** Queries *****/

@media (max-width: 500px) {
  h2 {
    font-size: 18px;
  }

  .photo_lightbox {
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (min-width: 2000px) {
  .photo_preview {
  width: 240px;
  height: 240px;
}
}
