* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Nunito Sans", sans-serif;
}

a {
  text-decoration: none;
}

button {
  all: unset; /* setzt ALLE Browser-Styles zurück */
  cursor: pointer; 
}
